In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('NursingData.csv')

In [5]:
df

,#,time,Left,Right,Bottle,Bottle Amount,Sleep time,wet,solid,Pump Amount
0,1,06/21/15 01:17:09,0:0,1:18,0:0,,NaN,NaN,NaN,NaN
1,2,06/21/15 02:00:39,7:31,0:0,0:0,,NaN,NaN,NaN,NaN
2,3,06/21/15 02:37:57,14:3,0:0,0:0,,NaN,NaN,NaN,NaN
3,4,06/21/15 05:23:55,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
4,5,06/21/15 05:47:59,22:11,0:0,0:0,,NaN,NaN,NaN,NaN
5,6,06/21/15 06:24:35,0:0,15:50,0:0,,NaN,NaN,NaN,NaN
6,7,06/21/15 07:50:08,13:37,0:0,0:0,,NaN,NaN,NaN,NaN
7,8,06/21/15 08:44:12,0:0,9:40,0:0,,NaN,NaN,NaN,NaN
8,9,06/21/15 09:48:26,0:0,16:27,0:0,,NaN,NaN,NaN,NaN
9,10,06/21/15 10:46:21,18:41,0:0,0:0,,NaN,NaN,NaN,NaN
10,11,06/21/15 11:13:51,20:0,0:0,0:0,,NaN,NaN,NaN,NaN
11,12,06/21/15 11:58:37,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
12,13,06/21/15 15:05:44,15:0,7:0,0:0,,NaN,NaN,NaN,NaN
13,14,06/21/15 16:30:33,0:0,12:0,0:0,,NaN,NaN,NaN,NaN
14,15,06/21/15 18:12:37,29:52,0:0,0:0,,NaN,NaN,NaN,NaN
15,16,06/21/15 21:31:23,0:0,15:0,0:0,,NaN,NaN,NaN,NaN
16,17,06/21/15 23:14:22,40:55,0:0,0:0,,NaN,NaN,NaN,NaN
17,18,06/21/15 23:59:14,0:0,16:50,0:0,,NaN,NaN,NaN,NaN
18,19,06/22/15 01:30:31,0:0,13:40,0:0,,NaN,NaN,NaN,NaN
19,20,06/22/15 01:53:45,8:41,0:0,0:0,,NaN,NaN,NaN,NaN
20,21,06/22/15 02:55:56,11:37,0:0,0:0,,NaN,NaN,NaN,NaN
21,22,06/22/15 03:18:23,13:45,0:0,0:0,,NaN,NaN,NaN,NaN
22,23,06/22/15 04:02:48,0:0,18:40,0:0,,NaN,NaN,NaN,NaN
23,24,06/22/15 06:38:09,25:25,0:0,0:0,,NaN,NaN,NaN,NaN
24,25,06/22/15 07:33:03,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
25,26,06/22/15 09:12:34,12:3,0:0,0:0,,NaN,NaN,NaN,NaN
26,27,06/22/15 09:32:06,0:0,14:43,0:0,,NaN,NaN,NaN,NaN
27,28,06/22/15 10:11:36,7:0,15:0,0:0,,NaN,NaN,NaN,NaN
28,29,06/22/15 11:07:19,13:21,0:0,0:0,,NaN,NaN,NaN,NaN
29,30,06/22/15 12:22:05,15:0,0:0,0:0,,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3237,4,06/21/15 07:50:13,,,,,,-,O,NaN
3238,5,06/21/15 11:02:34,,,,,,-,O,NaN
3239,6,06/21/15 18:42:46,,,,,,O,O,NaN
3240,7,06/21/15 21:10:24,,,,,,O,O,NaN
3241,8,06/21/15 23:06:24,,,,,,-,O,NaN
3242,9,06/22/15 01:25:41,,,,,,O,O,NaN
3243,10,06/22/15 07:52:59,,,,,,O,-,NaN
3244,11,06/22/15 10:12:08,,,,,,O,O,NaN
3245,12,06/22/15 18:39:00,,,,,,O,O,NaN
3246,13,06/22/15 22:36:31,,,,,,O,-,NaN
3247,14,06/23/15 05:01:04,,,,,,O,O,NaN
3248,15,06/23/15 08:44:03,,,,,,O,O,NaN
3249,16,06/23/15 12:51:38,,,,,,O,-,NaN
3250,17,06/23/15 14:57:59,,,,,,O,-,NaN
3251,18,06/23/15 17:01:40,,,,,,O,O,NaN
3252,19,06/24/15 01:31:40,,,,,,O,-,NaN
3253,20,06/24/15 02:50:07,,,,,,O,O,NaN
3254,21,06/24/15 05:51:43,,,,,,O,O,NaN
3255,22,06/24/15 16:46:38,,,,,,O,O,NaN
3256,23,06/24/15 16:51:00,,,,,,O,-,NaN
3257,24,06/24/15 22:45:44,,,,,,-,O,NaN
3258,25,06/24/15 23:15:09,,,,,,O,O,NaN
3259,26,06/25/15 06:13:48,,,,,,O,O,NaN
3260,27,06/25/15 10:14:24,,,,,,O,O,NaN
3261,28,06/25/15 15:02:21,,,,,,O,O,NaN
3262,29,06/25/15 16:51:59,,,,,,O,-,NaN
3263,30,07/05/15 19:15:47,,,,,,O,-,NaN
3264,31,07/25/15 20:16:32,,,,,,O,-,NaN
3265,32,09/13/15 03:03:00,,,,,,O,-,NaN
3266,33,10/28/15 15:21:46,,,,,,O,-,NaN

In [6]:
headers = list(df.columns.values)

In [8]:
newhead = []

In [9]:
for name in headers:
    newhead.append(name.strip())

In [15]:
newhead

['#',
 'time',
 'Left',
 'Right',
 'Bottle',
 'Bottle Amount',
 'Sleep time',
 'wet',
 'solid',
 'Pump Amount']

In [10]:
df.columns = newhead

In [17]:
df.dtypes

#                 int64
time             object
Left             object
Right            object
Bottle           object
Bottle Amount    object
Sleep time       object
wet              object
solid            object
Pump Amount      object
dtype: object

In [12]:
from datetime import datetime

In [13]:
df['time'] = df['time'].astype(datetime)

In [21]:
ordered = df.sort_values('time')

In [22]:
df['time'] = pd.to_datetime(df['time'])

In [23]:
ordered

,#,time,Left,Right,Bottle,Bottle Amount,Sleep time,wet,solid,Pump Amount
3234,1,2015-05-31 00:48:35,,,,,,O,-,NaN
0,1,2015-06-21 01:17:09,0:0,1:18,0:0,,NaN,NaN,NaN,NaN
3235,2,2015-06-21 01:17:27,,,,,,O,O,NaN
2560,1,2015-06-21 01:19:50,,,,,0:39:28,NaN,NaN,NaN
1,2,2015-06-21 02:00:39,7:31,0:0,0:0,,NaN,NaN,NaN,NaN
2561,2,2015-06-21 02:08:15,,,,,0:29:40,NaN,NaN,NaN
2,3,2015-06-21 02:37:57,14:3,0:0,0:0,,NaN,NaN,NaN,NaN
2562,3,2015-06-21 02:52:03,,,,,1:30:3,NaN,NaN,NaN
3,4,2015-06-21 05:23:55,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
4,5,2015-06-21 05:47:59,22:11,0:0,0:0,,NaN,NaN,NaN,NaN
5,6,2015-06-21 06:24:35,0:0,15:50,0:0,,NaN,NaN,NaN,NaN
3236,3,2015-06-21 06:28:43,,,,,,O,-,NaN
6,7,2015-06-21 07:50:08,13:37,0:0,0:0,,NaN,NaN,NaN,NaN
3237,4,2015-06-21 07:50:13,,,,,,-,O,NaN
7,8,2015-06-21 08:44:12,0:0,9:40,0:0,,NaN,NaN,NaN,NaN
8,9,2015-06-21 09:48:26,0:0,16:27,0:0,,NaN,NaN,NaN,NaN
9,10,2015-06-21 10:46:21,18:41,0:0,0:0,,NaN,NaN,NaN,NaN
3238,5,2015-06-21 11:02:34,,,,,,-,O,NaN
10,11,2015-06-21 11:13:51,20:0,0:0,0:0,,NaN,NaN,NaN,NaN
11,12,2015-06-21 11:58:37,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
12,13,2015-06-21 15:05:44,15:0,7:0,0:0,,NaN,NaN,NaN,NaN
13,14,2015-06-21 16:30:33,0:0,12:0,0:0,,NaN,NaN,NaN,NaN
14,15,2015-06-21 18:12:37,29:52,0:0,0:0,,NaN,NaN,NaN,NaN
3239,6,2015-06-21 18:42:46,,,,,,O,O,NaN
3240,7,2015-06-21 21:10:24,,,,,,O,O,NaN
15,16,2015-06-21 21:31:23,0:0,15:0,0:0,,NaN,NaN,NaN,NaN
3241,8,2015-06-21 23:06:24,,,,,,-,O,NaN
16,17,2015-06-21 23:14:22,40:55,0:0,0:0,,NaN,NaN,NaN,NaN
17,18,2015-06-21 23:59:14,0:0,16:50,0:0,,NaN,NaN,NaN,NaN
3242,9,2015-06-22 01:25:41,,,,,,O,O,NaN
...,...,...,...,...,...,...,...,...,...,...
2534,2538,2016-01-24 15:00:00,0:0,20:0,0:0,,NaN,NaN,NaN,NaN
3227,668,2016-01-24 15:20:35,,,,,1:21:48,NaN,NaN,NaN
2535,2539,2016-01-24 18:16:58,26:47,0:0,0:0,,NaN,NaN,NaN,NaN
3228,669,2016-01-24 18:43:46,,,,,0:26:14,NaN,NaN,NaN
2536,2540,2016-01-24 20:36:09,0:0,8:2,0:0,,NaN,NaN,NaN,NaN
2537,2541,2016-01-24 23:59:39,9:43,0:0,0:0,,NaN,NaN,NaN,NaN
3229,670,2016-01-25 00:10:07,,,,,11:18:53,NaN,NaN,NaN
2538,2542,2016-01-25 01:01:17,0:0,15:0,0:0,,NaN,NaN,NaN,NaN
2539,2543,2016-01-25 02:54:18,18:58,0:0,0:0,,NaN,NaN,NaN,NaN
2540,2544,2016-01-25 04:54:47,0:0,11:24,0:0,,NaN,NaN,NaN,NaN
2541,2545,2016-01-25 06:46:35,9:48,0:0,0:0,,NaN,NaN,NaN,NaN
2542,2546,2016-01-25 08:56:18,0:0,17:20,0:0,,NaN,NaN,NaN,NaN
2543,2547,2016-01-25 10:59:04,59:14,0:0,0:0,,NaN,NaN,NaN,NaN
2544,2548,2016-01-25 14:15:31,0:0,9:42,0:0,,NaN,NaN,NaN,NaN
3230,671,2016-01-25 15:53:59,,,,,1:2:28,NaN,NaN,NaN
2545,2549,2016-01-25 17:45:04,1:0,9:0,0:0,,NaN,NaN,NaN,NaN
2546,2550,2016-01-25 19:49:20,23:47,0:0,0:0,,NaN,NaN,NaN,NaN
3231,672,2016-01-25 20:13:08,,,,,0:39:28,NaN,NaN,NaN
2547,2551,2016-01-25 22:35:16,0:0,6:21,0:0,,NaN,NaN,NaN,NaN
2548,2552,2016-01-25 23:52:06,15:41,0:0,0:0,,NaN,NaN,NaN,NaN
3232,673,2016-01-26 00:07:49,,,,,12:18:54,NaN,NaN,NaN
2549,2553,2016-01-26 00:28:36,0:0,15:0,0:0,,NaN,NaN,NaN,NaN
2550,2554,2016-01-26 02:17:52,7:35,0:0,0:0,,NaN,NaN,NaN,NaN
2551,2555,2016-01-26 03:29:31,9:44,10:8,0:0,,NaN,NaN,NaN,NaN
2552,2556,2016-01-26 05:46:22,31:4,0:0,0:0,,NaN,NaN,NaN,NaN
2553,2557,2016-01-26 07:38:40,0:0,15:0,0:0,,NaN,NaN,NaN,NaN
2554,2558,2016-01-26 10:06:30,15:0,0:0,0:0,,NaN,NaN,NaN,NaN
2555,2559,2016-01-26 12:15:27,11:14,0:0,0:0,,NaN,NaN,NaN,NaN
2556,2560,2016-01-26 14:19:54,0:0,20:6,0:0,,NaN,NaN,NaN,NaN
3233,674,2016-01-26 14:40:01,,,,,0:20:57,NaN,NaN,NaN